packages
.vs
DatabaseCopierSingle/bin
DatabaseCopierSingle/obj
.idea
TestDatabase
DatabaseCopierSingle.sln.DotSettings.user
DatabaseCopierSingle.sln.DotSettings
DatabaseCopierUI/bin
DatabaseCopierUI/obj

